In [1]:
import pickle

In [2]:
# Open the .pkl file for reading in binary mode
with open('books.pkl', 'rb') as file:
    loaded_data = pickle.load(file)

In [11]:
# Assuming Df is already defined and loaded
unique_genre_count = df['genre'].nunique()
print("Number of unique genres:", unique_genre_count)

Number of unique genres: 3

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('books_new.csv')
df.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [4]:
df['Title'].nunique()

210

In [7]:
df['Author'].nunique()

129

In [10]:
df['Genre'].nunique()

5

In [11]:
df['SubGenre'].nunique()

22

In [12]:
df['Height'].nunique()

65

In [13]:
df['Publisher'].nunique()

33

In [ ]:
mera dono file dekhooo high  low